
//color
$color-brand: #48c1bf;
$color-brand2: #f4c60e;
$color-active: #48dbc3;
$color-background: #5bcec8;
$color-background-opacity: rgba(14,12,27,.64);
$color-text: #212460;
$color-text-light: #495057;
$color-text-white: #ffffff;
$color-text2: #232e77;
$color-text-gray: #212529;

$content-width: 1140px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

