
// @include font($size, $height:$size, $weight: bold, $style: normal);
@mixin font($size, $height:$size, $weight: bold, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}

// @include columns ($width);
@mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >* {
        flex-basis: $width;
    }
}

//@include media-big-laptop;
@mixin media-big-laptop {
    @media (max-width: $content-big-width) { @content; }
}
@mixin media-laptop {
    @media (max-width: $content-width) { @content; }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
    @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobilesmall {
    @media (max-width: $mobile-small-width) { @content; }
}