
// @include font($size, $height:$size, $weight: bold, $style: normal);
@mixin font($size, $height:$size, $weight: bold, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}

// @include columns ($width);
@mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >* {
        flex-basis: $width;
    }
}

//@include media-big-laptop;
@mixin media-big-laptop {
    @media (max-width: $media-big-laptop) { @content; }
}
@mixin media-laptop {
    @media (max-width: $media-laptop) { @content; }
}

@mixin media-tablet {
    @media (max-width: $media-tablet) { @content; }
}

@mixin media-mobile {
    @media (max-width: $media-mobile) { @content; }
}

@mixin media-mobilesmall {
    @media (max-width: $media-mobilesmall) { @content; }
}

@mixin media-iPhone5 {
    @media (max-width: $media-iPhone5) { @content; }
}