.modal__title {
    h3 {
        margin: 30px 20px 10px;
    }
    p {
        margin: 0 auto;
        max-width: 290px;
        text-align: center;
        margin-bottom: 20px;
        word-wrap: break-word;
    }
}
.modal__wrapper {
    border-radius: 20px;
}

.modal__textarea {
    margin-bottom: 20px;
    resize: none;
    border-radius: 25px;
    border: 2px solid #48c1bf;
    padding: 1.5rem 2rem;
    outline: none;
    color: #48c1bf;
    &::placeholder {
        color: #48c1bf;
    }
    width: 80%;
}
.modal__textarea_hidden {
    display: none;
}
.modal__textarea_active {
    display: block;
}

.modal__hidden {
    display: none;
}

.modal__active {
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(51, 39, 121, 0.667);
}
.modal__wrapper {
    background-color: rgba(241, 243, 248, 0.972);
}
.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
        margin: 0 0 20px;
    }
}
.modal__input {
    margin-bottom: 20px;
    width: 80%;
}
.modal__button {
    margin-bottom: 20px;
}
.modal__button:hover {
    background-color: $color-active;
}
