
//color
$color-brand: #48c1bf;
$color-brand2: #f4c60e;
$color-active: #48dbc3;
$color-active2: #308d8b;
$color-background: #5bcec8;
$color-background-opacity: rgba(14,12,27,.64);
$color-text: #212460;
$color-text-light: #495057;
$color-text-white: #ffffff;
$color-text2: #232e77;
$color-text-gray: #212529;
$media-big-laptop: 1670px;
$media-laptop: 1140px;
$media-tablet: 768px;
$media-mobile: 414px;
$media-mobilesmall: 375px;
$media-iPhone5: 320px;
$content-width: 1140px;

//preloader
$size: 80px;
$anim-speed: 2s;
$anim-pull-scale-down: 0.5;
$anim-pull-translate-in: 150%;
$anim-pull-translate-out: 25%;
$anim-shimmy-out: 12px;
