.about-us {
    background-color: $color-background;
    padding: 5% 0 3%;
    color: #fff;
}

.about-us__wrapper {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.about-us__image-block {
    flex-basis: 12%;
    text-align: center;
    @include media-mobile {
        display: none;
    }
}
.about-us__image {
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    min-height: 140px;
    @include media-laptop {
        min-height: 120px;
    }
    @include media-tablet {
        min-height: 80px;
    }
}

.about-us__text-block {
    flex-basis: 85%;
    text-align: justify;
    @include media-mobile {
        flex-basis: 100%;
    }
    h3 {
        @include font(3.1rem, 3.3rem);
        letter-spacing: -0.15rem;
        margin-bottom: 2%;
        @include media-mobile {
            @include font (2.2rem, 2.2rem, bold, normal);
        }
    }
    p {
        @include font(1.7rem, 2.2rem, normal);
        margin-bottom: 3%;
        @include media-mobile {
            margin-bottom: 10%;
            @include font(1.5rem, 2rem, normal);
        }
    }
}

