.brand {
    text-align: center;
    padding: 7% 0 13%;
    @include media-mobile {
        
    padding: 25% 0 13%;
    }
}
.brand__title {
letter-spacing: -0.2rem;
color: $color-text;
}

.brand__layout {
    padding-top: 50px;
    flex-wrap: wrap;
    >* {
        filter: grayscale(100%); 
        display: flex;
        align-items: center;
        justify-content: center;
        //border: 1px solid;
        flex: 1 0 18%; /* explanation below */
        margin: 10px 5px;
        height: 100px;
        opacity: 0.8;
        
        @extend %transition;
        &:hover {
            opacity: 1;
            filter: grayscale(0);
        }
        @include media-laptop {
            flex: 1 0 32%;
        }
        @include media-tablet {
            flex: 1 0 23%;
        }
    }

}
