.contact-us {
    background: url("../../img/contact-us/two_people.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left;
    text-align: center;
    box-shadow: 0 1px 23.49px 5.51px rgba(163,181,202,.35);
}

.contact-us__image {
border-radius: 50%;
border: 10px solid $color-brand;
margin-top: 2%;
}

.contact-us__title {
    @include font (3.2rem, 3.2rem, bold);
    letter-spacing: -0.25rem;
    color: $color-text;
    margin-bottom: 5%;
}

.contact-us__right {
    margin: -13% 0 0 50%; // need for row go to right
    padding: 0 8%;
    text-align: left;
}

.contact-us__description {
    @include font (2.3rem, 2.3rem, 400);
    letter-spacing: -.1rem;
    padding-bottom: 25px;
}

.contact-us__link {
    text-decoration: none;
    color: $color-brand;
    @extend %font-add;
    @include font (3.4rem, 5.5rem);
    letter-spacing: -.1rem;
}

.contact-us__form {
    display: flex;
    flex-direction: column;
}

.contact-us__checkbox_label {
    width: 80%;
    @include font (1.2rem, 1.2rem, 300);
    font-size: 1.2rem;
    color: $color-text-light;
}
.contact-us__button {
    margin: 5% 0;
    width: 80%;
}