.description {
    padding-bottom: 7%;
}
.description__title {
    margin: 6% 0 4% 0;
    text-align: center;
}

.description__description {
    color: $color-text;
    @include font (1.8rem, 3rem, 400);
}