.price {
    @include media-mobile {
        padding-top: 5%;
    }
}
.price__title {
    text-align: center;
    @include font (4rem, 4rem, 600);
    color: $color-text;
    letter-spacing: -0.2rem;
    margin-bottom: 5%;
    @include media-laptop {
        letter-spacing: -0.3rem;
        @include font (3.7rem, 4rem, 600);
    }
    @include media-mobile {
        letter-spacing: -0.3rem;
        @include font (3.4rem, 3.6rem, 600);
    }
}
.price__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.price__image {
    margin-bottom:-80px;
    img {
        border-radius: 50%;
        border: 25px solid #00b2a9;
    }
    @include media-mobile {
        display: none;
    }
}
.price__box {
        max-width: 200px;
        margin: 0 20px;
        img {
            width: 50%;
        }
        h5 {
            @include font (1.6rem, 2.8rem, 600);
            color: $color-text;
            letter-spacing: -0.1rem;
        }
        @include media-mobile {
            margin: 5% auto;
        }
}
.price__ico {
    @include media-mobile {
        margin: 10% 3% 5%;
        @include columns (38%);
        justify-content: space-around;
    }

}