.prmenu {
    box-shadow: 1px 1px 23.78px 5.22px rgba(163,181,202,.61);
}

.prmenu__wrapper {
    @include media-mobile {
        padding: 0;
    }
}
.prmenu__ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    @include media-laptop {
        padding: 0;
    }
    @include media-mobile {
        display: block;
        text-align: center;
    }
}
.prmenu__a {
    text-decoration: none;
    @include font(1.8rem, 1.8rem, 500);
    letter-spacing: -0.08rem;
    color: $color-text;
    @extend %transition;
    @include media-laptop {
        @include font(1.6rem, 1.8rem, 500);
    }
    &:hover {
        color: $color-active2;
    }
    &_active {
        color: $color-text-white;
    }
    &_active:hover {
        color: $color-text-white;
    }
    @include media-mobile {
        letter-spacing: 0.1rem;
    }
}

.prmenu__li {
    padding: 2rem 3rem;
    @include media-laptop {
        padding: 1.8rem 2.2rem;
    }
    @include media-mobile {
        padding: 1.6rem 1.6rem;
    }
    &_active {
        background: $color-brand;
    }
}