.promo {
    padding-bottom: 20px;
    background: linear-gradient( rgba(0, 0, 47, 0.4), rgba(9, 23, 156, 0.2) ), url('../../img/promo/master.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.promo__head {
  @include media-mobile {
    padding-top: 90px;
  }
}

.promo__title {
    text-align: center;
    color: $color-text-white;
    padding: 5% 0 15%;
        
}

.promo__link {
    display: flex;
    justify-content: space-around;
}

@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(58, 121, 189, 0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }
  