.tipical {
    text-align: center;
    background: url("../../img/tipical/sec5_bg_left.png") top left/300px auto no-repeat,url("../../img/tipical/sec5_bg_right.png") top right/233px auto no-repeat;
    @include media-big-laptop {
        background: url("../../img/tipical/sec5_bg_right.png") top right/233px auto no-repeat;
    }
    @include media-laptop {
        background: none;
    }
}
.tipical__image {
    margin-bottom: 40px;

    @include media-tablet {
        width: 95%;
    };
}
.tipical__title {
    margin-bottom: 10%;
    letter-spacing: -0.15rem;
    color: $color-text;
    position: relative;
}
.tipical__title::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -68px;
    left: 112px;
    height: 17rem;
    width: 17rem;
    background: url("../../img/tipical/circles.png") center/contain no-repeat;
}
.tipical__list {
    padding-bottom: 13%;
    @include media-mobile {
        @include columns (50%);
        padding: 0;
    }
    @include media-laptop {
        padding-bottom: 3%;
    }
    @include media-big-laptop {
        padding: 5% 10% 10% 0;
    }
}
.tipical__item {
    display: block;
    position: relative;
    margin-bottom: 3rem;
    padding: 0 0 0 5rem;
    color: #232e77;
    min-height: 76px;
    text-align: left;
    img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 3.3rem;
        max-height: 40px;
    }
    @include media-mobile {
        @include font (1.4rem, 1.4rem, normal);
    }
}
