html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Ubuntu', Verdana, sans-serif;
    margin: 0;
}

h1 {
    @extend %font-add;
    @include font (7.5rem, 7.7rem, bold, normal);
    @include media-mobile {
        @include font (4.5rem, 4.7rem, bold, normal);
    }
}

h2 {
    @extend %font-add;
    @include font (4.1rem, 4.1rem, 600);
    @include media-mobile {
        @include font (3.3rem, 3.5rem, bold, normal);
    }
}
h3 {
    @extend %font-add;
    @include font (3rem, 3rem, 500);
}

h4 {
    @extend %font-add;
    @include font (2.2rem);
    @include media-mobile {
        @include font (1.8rem);
    }
}
h5 {
    @extend %font-add;
    @include font (1.7rem, 1.7rem, 400);
}
