.button {
    @extend %transition;
    padding: 13px 40px;
    font-family: 'Ubuntu', Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
    border: none;
    @include font (1.5rem, 2rem);
    color: $color-text-white;
    background-color: $color-brand;
    border-radius: 3.7rem;
    outline: none;
}

.header__button:hover, .contact-us__button:hover {
        background-color: $color-active;
}