.ico {
    cursor: pointer;
    display: inline-block;
}

.ico_arrow {
    background-image: url("../../img/promo/Arrow-down.svg");
    width: 60px;
    height: 60px;
    path {
        fill: #fff;
    }
}
.logo_logo {
    @include media-mobile {
        width: 60%;
    }
}