.description {
    padding-bottom: 5%;
    @include media-mobile {
        padding-top: 10%;
    }
}
.description__title {
    color: $color-text;
    @include font(2.4rem, $height:$size, $weight: bold, $style: normal);
    font-family: 'Ubuntu', Verdana, sans-serif;
    margin: 5% 0 3% 0;
    text-align: center;
}

.description__description {
    color: $color-text;
    @include font (1.8rem, 3rem, 400);
    @include media-mobile {
        @include font (1.6rem, 2.5rem, 400);
        text-align: justify;
    }
}