.price-bg {
    background-color: #6fd5cd;
    padding: 60px 0 30px;
    @extend %transition;
}

.price-bg__img {
    padding: 80px 0 0 70px;
    @include media-mobile {
        display: none;
    }
    max-width: 257px;
    max-height: 220px;
}

.price-bg__choose {
    display: flex;
}

.price-bg__dependent-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    :nth-child(1), :nth-child(2) {
        flex-basis: 45%;
    }
    :nth-child(3), :nth-child(4) {
        flex-basis: 95%;
    }
    margin: 0 2% 0 18%;
}

.price-bg__select {
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    padding: 12px 20px;
    color: $color-text;
    @include font (1.7rem, 2rem, normal);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url("../img/price/select_arrow_icon.svg") no-repeat right center;
    background-color: #fff;
    outline: none;
    @include media-laptop {
        &:first-child {
            margin-left: 0;
        }
        width: 280px;
    }
    @include media-tablet {
        &:first-child {
            margin-left: 40px;
            margin-bottom: 20px;
        }
        width: 370px;
    }
    @include media-mobile {
        margin-left: 0;
        &:first-child {
            margin-left: 0;
        }
    }
    @include media-mobilesmall {
        width: 340px;
    }
    @include media-iPhone5 {
        width: 285px;
    }
    
}

.price-bg__button {
    text-align: right;
    @include media-tablet {
        padding: 20px 0;
        margin-left: 40px;
    }
    @include media-mobile {
        padding: 20px 0;
        margin-left: 0;
    }
    
}
.price-bg__submit {
    width: 100%;
    box-shadow: 4px 8px 16px 0 rgba(28,147,143,.5);
    height: 45px;
    color: $color-text;
    background-color: $color-brand2;
    @include font (1.7rem, 2rem, normal);
    &:hover {
        background-color: #f4d716;
    }
    &:active {
        background: #e3b40e;
    }
    @include media-laptop {
        width: 100%;
    }
    @include media-laptop {
        @include font (1.4rem, 1.8rem, normal);
        padding: 0;
    }
}

// hidden description 

// .price-bg__description-hidden {
//     display: none;
// }
// .price-bg__description-active {
//     text-align: center;
//     color: $color-text;
// }