.wrapper {
    max-width: $content-width;
    margin: 0 auto;
    @include media-laptop {
        padding: 0 35px;
    }
    @include media-big-laptop {
        padding: 0 35px;
    }
    @include media-mobile {
        padding: 0 15px;
    }
}