.footer {
    background-color: #212460;
    padding: 4% 0 1%;
    color: #fff;
}
.footer__wrapper {
    padding: 0 1%;
}
.footer__title {
    letter-spacing: -0.1rem;
    margin-bottom: 3%;
    margin: 0 5%;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
    color: $color-background;
        text-decoration: none;
    }
    @include media-mobile {
        @include font(1.2rem, 1.3rem, 400);
    }
    @include media-iPhone5 {
        @include columns (100%);
        text-align: center;
        flex-direction: column-reverse;
    }
}

.footer__form {
    text-align: center;
    margin: 2% 0 1%;
    input {
        margin: 0 2% 3% 0;
        padding: 1rem 1rem;
    }
    @include media-mobile {
        text-align: center;
        margin: 7% 0;
    }
}

.footer__newqwes {
    @extend %font-add;
    animation: neon .08s ease-in-out infinite alternate;
    text-shadow:
    0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(202,228,225,0.34),
    0 0 4px rgba(30,132,242,0.52),
    0 0 7px rgba(30,132,242,0.92),
    0 0 11px rgba(30,132,242,0.78),
    0 0 16px rgba(30,132,242,0.92);

}
.footer__ico {
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    &_instagram {
        background-image: url("../img/footer/instagram2.svg");
    }
    &_vk {
        background-image: url("../img/footer/vk.svg");
    }
    &_ok {
        background-image: url("../img/footer/ok.svg");
    }
    @include media-mobile {
        width: 24px;
        height: 24px;
    }
}

.footer__social-network {
    @include media-iPhone5 {
        margin-bottom: 15px;
        >* {
            margin: 0 30px;
        }
    }
}
@keyframes neon {
    from {
        text-shadow:
        0 0 6px rgba(39, 41, 41, 0.92),
        0 0 30px rgba(202,228,225,0.34),
        0 0 12px rgba(58, 121, 189, 0.52),
        0 0 21px rgba(30,132,242,0.92),
        0 0 34px rgba(30,132,242,0.78),
        0 0 54px rgba(30,132,242,0.92);
    }
    to {
        text-shadow:
        0 0 6px rgba(202,228,225,0.98),
        0 0 30px rgba(202,228,225,0.42),
        0 0 12px rgba(30,132,242,0.58),
        0 0 22px rgba(30,132,242,0.84),
        0 0 38px rgba(30,132,242,0.88),
        0 0 60px rgba(30,132,242,1);
    }
    }
    